<!DOCTYPE html>
<html>

<head>
    <title>{{ .Title }}</title>
    

    {{ partial "meta/data" . | safeHTML }}

    {{ with .OutputFormats.Get "RSS" }}
     <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}">
    {{ end }}
    {{ with .OutputFormats.Get "AMP" }}
     <link rel="{{ .Rel }}" href="{{ .Permalink }}">
    {{ end }}

    {{ with .Site.Params.googlefonts }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="{{ . }}" rel="stylesheet">
    {{ else }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="//fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {{ end }}

    <link rel="stylesheet" href="/css/page.css">
    <style>
    {{ partial "css/global.css" . | safeCSS }}

    .call-to-action,
    .call-to-action-2 {
        padding: 100px 0;
        background-size: cover;
        color: #fff;
    }

    .call-to-action p {
        color: #fff;
    }
    .btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
    </style>
    {{ template "_internal/google_analytics_async.html" . }}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8751263644994394",
        enable_page_level_ads: true
    });
    </script>
</head>

<body>
    {{ partial "navigation.html" . }}
    <section class="blog-single section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <!-- ads-banner-detektif-net -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-8751263644994394"
                         data-ad-slot="1611735425"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    <h1>{{ .Title }}</h1>
                    <div class="post-meta mb-5">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span>By</span>
                                {{ .Params.author | default "Admin" }}
                            </li>
                            <li class="list-inline-item">
                                <span>at</span>
                                <span>{{ .Date.Format "Jan 2, 2006" }}</span>
                            </li>
                        </ul>
                    </div>
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section>
    {{ partial "cta.html" . }}
    {{ partial "footer.html" . }}

    {{ partial "global_var.html" . }}
</body>

</html>