<title>{{ .Title }}</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">  
<meta itemprop="name" content="{{ .Title }} - {{ .Site.Title }}">
<meta name="description" content="{{ replaceRE "\n" "" (.Description | default .Summary | truncate 155) }}" />
<meta name="news_keywords" content="{{ replaceRE "\n" "" ( .Summary | truncate 55) }}" />
<meta name="original-source" content="{{ .Permalink }}" />
<link rel="canonical" href="{{ .Permalink }}">


<!-- Open Graph -->
<meta property="og:type" content="article">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}"/>
<meta property="og:image" content="{{ .Params.thumbnail | default "/default.png" | absURL }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="og:description" content="{{ replaceRE "\n" "" (.Description | default .Summary | truncate 155) }}"/>
<meta property="og:locale" content="{{ .Site.LanguageCode | default "id"}}">
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ with .Site.Params.contact.twitter }}{{ . }}{{end}}" />
<meta name="twitter:title" content="{{ .Title }} - {{ .Site.Title }}" />
<meta name="twitter:description" content="{{ replaceRE "\n" "" (.Description | default .Summary | truncate 155) }}" />
<meta name="twitter:image" content="{{ .Params.thumbnail | default "/default.png" | absURL }}" />