{{ partial "header.html" . }}

{{ partial "preloader.html" . }}

{{ partial "navigation.html" . }}

{{ partial "page-title.html" . }}

{{ "<!-- Blog Section Start -->" | safeHTML }}
<section class="blog section" id="blog">
    <div class="container">
        <div class="row">
           

              
            {{ "<!-- single blog post -->" | safeHTML }}
            
                                
            
            
              {{ range first 10 .Data.Terms.ByCount }}
              <article class="col-12 col-md-4">
                <div class="post-item">
                
                <div class="post-title">
                <h4>
                    <a href="{{ .Name | urlize }}">
                      {{ .Name }} ({{ .Pages | len }})
                    </a>
                </h4>
                <hr>
                </div>
                
                <ul class="archive-posts">
                  {{ range .Pages.ByDate }}
                    <li>
                     <a href="{{ .Permalink }}">
                        {{ .Title }}
                      </a>
                      <p> {{ .Summary | truncate 100 }}</p>
                    </li>
                  {{ end }}
                </ul>
                  
                </div>
            </article>
            {{ end }}
               
            
            
            {{ "<!-- /single blog post -->" | safeHTML }}
         
            <div class="col-12 text-center">
                {{ template "_internal/pagination.html" . }}
            </div>
        </div>
    </div>
</section>
{{ "<!-- Blog Section End -->" | safeHTML }}

{{ partial "footer.html" . }}

