{{ if .Site.Params.aboutSm.enable }}
{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                {{ with .Site.Params.aboutSm.title }}
                    <h1 class="h2">{{ . }}</h1>
                {{ end }}
            </div>
            <div class="col-12 col-md-7">
                {{ with .Site.Params.aboutSm.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
                
               
<!-- ads_slot_detektif_net_238_ad_banner -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8751263644994394"
     data-ad-slot="3021758207"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

            </div>
        </div>
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
{{ end }}