{{ if .Site.Params.blog.enable }}
{{ "<!-- Blog Section Start -->" | safeHTML }}
<section class="blog section" id="blog">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.blog.topTitle }}<h4>{{ . }}</h4>{{ end }}
                    {{ with .Site.Params.blog.title }}<h2>{{ . }}</h2><span class="border"></span>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
           
            {{ "<!-- /single blog post -->" | safeHTML }}
            
        </div>
    </div>
</section>
{{ "<!-- Blog Section End -->" | safeHTML }}
{{ end }}