{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<p>{{.}}</p>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    {{. | markdownify }}
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="address-block contact-meta-block">
                    <i class="icon-whatsapp"></i>
                    <p class="h4">WhatsApp</p>
                    {{ with .Site.Params.contact.whatsapp }}<a href="https://wa.link/718rrn" class="btn btn-main-sm" title="WhatsApp Chat" rel="noopener">Click!</a>{{ end }}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="phone-block contact-meta-block">
                    <i class="icon-phone"></i>
                    <p class="h4">Call Us</p>
                    {{ if .Site.Params.hero.button }}
                    <a href="{{ with .Site.Params.hero.btnURL }}{{.}}{{ end }}" class="btn btn-main-sm" title="{{ with .Site.Params.hero.btnText }}{{.}}{{ end }} - {{ .Site.Title }}">{{ with .Site.Params.hero.btnText }}{{.}}{{ end }}</a>
                    {{ end }}
                   
                </div>
            </div>
            
        </div>
    </div>
</section>
{{ end }}