{{ if .Site.Data.content0393828.enable }}
{{ "<!-- Team Section Start -->" | safeHTML }}
<section class="team section bg-gray" id="team">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Data.content0393828.topTitle }}<h4>{{ . }}</h4>{{ end }}
                    {{ with .Site.Data.content0393828.title }}
                        <h2>{{ . }}</h2>
                        <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Data.content0393828.subtitle }}<p>{{ . }}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {{ with .Site.Data.content0393828.content }}
                <!-- team member -->
                <div class="col-12">
                    <div class="content">
                        {{ . | markdownify }}
                    </div>
                </div>
                <!-- end team member -->
            {{ end }}

           
<!-- ads_slot_detektif_net_238_ad_banner -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8751263644994394"
     data-ad-slot="3021758207"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
    </div>
</section>
{{ "<!-- End section -->" | safeHTML }}
{{ end }}