{{ if .Site.Data.portfolio.enable }}
<!-- Start Portfolio Section -->
<section class="portfolio section" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Data.portfolio.topTitle }}
                         <p>{{ . }}</p>
                    {{ end }}
                    {{ with .Site.Data.portfolio.title }}
                            {{ . | markdownify }}
                        <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Data.portfolio.subtitle }}
                        <p>{{ . }}</p>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="row">
            {{ range .Site.Data.portfolio.item }}
                <div class="col-md-6">
                    <div class="card mb-5 mt-5 shadow">                        
                        <img class="card-img-top img-fluid lazy" src="/placeholder.svg" data-src="{{ .image | absURL }}" data-srcset="{{ .image | absURL }}" title="{{ .title }}">
                        <div class="card-body">
                        {{ .title | markdownify }}
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
    <!-- end row -->
</section>
<!-- End section -->
{{ end }}