

{{ define "head" }}

{{ partial "meta/data" . | safeHTML }}
{{ template "_internal/google_analytics_async.html" . }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8751263644994394",
    enable_page_level_ads: true
});
</script>
{{ partial "meta/schema/article.json" . }}
{{ partial "meta/schema/breadcrumbs.json" . }}
{{end}}


{{ define "main" }}
<!-- Blog Section Start -->
<div class="col-sm-8 blog-main">
    <div class="blog-post mb-5">
        <header>
            <h1 class="blog-post-title mb-5" dir="auto"><a href="{{.Permalink}}">{{.Title}}</a></h1>
        </header>
        {{ range (.Paginate .Data.Pages).Pages }}
        <article class="blog-post shadow">
            <header>
                <a href="{{ .RelPermalink }}">
                    <h4 class="h4">{{ .Title }}</h4>
                </a>
                <p class="blog-post-meta"><time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
                </p>
            </header>
            <p>{{.Summary}}</p>
        </article>
        {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
</div>
<!-- Blog Section Start -->
{{end}}