<!DOCTYPE html>
<html  ⚡ lang="{{ .Site.LanguageCode | default "id"}}">
<head>
   {{ partial "meta/data" . }}
   {{ partial "schema/Articles" . }}
   <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | absURL }}">
   <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | absURL }}">
   <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | absURL }}">
   <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | absURL }}" color="#5bbad5">
   <meta name="theme-color" content="#ffffff">
   
   <script async src="https://cdn.ampproject.org/v0.js"></script>
   <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
   <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
   <script async custom-element=amp-ad src=https://cdn.ampproject.org/v0/amp-ad-0.1.js></script>
   <script async custom-element="amp-sticky-ad" src="https://cdn.ampproject.org/v0/amp-sticky-ad-1.0.js"></script>
   <script async custom-element=amp-user-notification src=https://cdn.ampproject.org/v0/amp-user-notification-0.1.js></script>
   <script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>
   
   
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
   <title>{{ .Title }}</title>
   <style amp-custom>
      {{ replaceRE " +" " " (replaceRE "\n" "" (partial "amp/wp-style.css" .)) | safeCSS }}
   </style>
   <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
   <noscript>
      <style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style>
   </noscript>
</head>
<body>
   <header id="#top" class="amp-wp-header">
      <div>
         <a href="{{ .Site.BaseURL }}">
         <amp-img src="{{ "/apple-touch-icon.png" | absURL }}?w=32" width="32" height="32" class="amp-wp-site-icon"></amp-img>
         {{ .Site.Title }}</a>
      </div>
   </header>
   <article class="amp-wp-article">
      <header class="amp-wp-article-header">
         <h1 class="amp-wp-title">{{ .Title }}</h1>
         <div class="amp-wp-meta amp-wp-byline">
            <amp-img src="{{ "/apple-touch-icon.png" | absURL }}" width="24" height="24" layout="fixed"></amp-img>
            <span class="amp-wp-author author vcard">{{ .Params.author | default "Site.Params.author" }}</span>
         </div>
         <div class="amp-wp-meta amp-wp-posted-on">
            <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05" }}">{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time>
         </div>
      </header>
      <div class="amp-wp-article-content">
         {{ .Content }}
      </div>
      <footer class="amp-wp-article-footer">
         <div class="amp-wp-meta amp-wp-tax-category">
            Categories: 
            {{ $params := .Params }}
            {{ range $key, $value := $.Site.Taxonomies.categories }}
            <a href="/categories/{{ $key | urlize }}/" rel="category tag">{{ $key | upper }}</a>
            {{ end }}
         </div>
         <div class="amp-wp-meta amp-wp-tax-category">
            Tags: 
            {{ $params := .Params }}
            {{ range $key, $value := $.Site.Taxonomies.tags }}
            <a href="/tags/{{ $key | urlize }}/" rel="category tag">{{ $key | upper }}</a>
            {{ end }}
         </div>
         <div class="amp-wp-meta amp-wp-comments-link">
            <a href="{{ .Permalink }}#comments">Tinggalkan sebuah Komentar</a>
         </div>
      </footer>
      {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
      {{ $.Scratch.Set "has_related" true }}
      {{ end }}
      {{ if $.Scratch.Get "has_related" }}
      {{ $num_to_show := .Site.Params.related_content_limit | default 15 }}
      {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
      {{ "<!-- single blog post -->" | safeHTML }}
      <article class="amp-wp-article-content">
         <div class="post-item">
            <div class="post-title">
               <h3 class="mt-0 h6">
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
               </h3>
            </div>
            <p>By {{ .Params.author }} | at {{ .Date.Format "Jan 2, 2006" }}</p>
            <div class="post-content">
               <p>{{ .Summary }}</p>
            </div>
         </div>
      </article>
      {{ "<!-- /single blog post -->" | safeHTML }}
      {{ end }}
      {{ end }}
   </article>
   <footer class="amp-wp-footer">
      <div>
         <h2>ID : {{ .WordCount }}</h2>
         <p>
            <a href="https://wordpress.com/?ref=footer_blog">Blog at WordPress.com.</a>
         </p>
         <a href="#top" class="back-to-top">Back to top</a>
      </div>
   </footer>
   
   {{ partial "amp/auto-ads" . }}
   
   {{ partial "amp/amp_analytics" . }}
</body>
</html>