<!-- Footer Start -->
<footer id="footer" class="bg-one footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">


                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h2>About</h2>
                    {{ with .Site.Params.footerDescription }}<p>{{ . }}</p>{{ end }}
                </div>


                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h2>Kompatibilitas</h2>                   
                        <p>Perangkat Apple kompatibeltas:</p>
                        <a href="https://www.apple.com/lae/iphone-x/" title="iPhone X" target="_blank" rel="noopener">iPhone, </a> 

                        <a href="https://www.apple.com/id/iphone-12-pro/specs/" title="iPhone 11 Pro" target="_blank" rel="noopener">iPhone 12</a>

                        <p>Perangkat Android kompatibeltas: </p>
                        <a href="https://id.wikipedia.org/wiki/Daftar_versi_Android" target="_blank" title="OS Android" rel="noopener">OS Android. </a>
                        <a href="https://www.android.com/versions/kit-kat-4-4/" target="_blank" title="OS Android. KitKat" rel="noopener">KitKat, </a>
                        <a href="https://en.wikipedia.org/wiki/Android_11" target="_blank" title="OS Android 11" rel="noopener">Android 11</a>
                </div>


                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h2>Halaman</h2>
                    <ul>
                        {{ range .Site.Menus.quicklink }}
                        <li class="mb-3">
                            <a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>


                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h2>Ikuti Kami</h2>
                    <div class="list-inline social-icon">

                        {{ with .Site.Params.contact.facebook }}
                        <a class="list-inline-item" href="{{.}}" rel="noopener" aria-label="facebook">
                            <i class="icon-facebook">&nbsp;</i>
                        </a>
                        {{ end }}


                        {{ with .Site.Params.contact.twitter_uri }}
                        <a class="list-inline-item" href="{{.}}" rel="noopener" aria-label="Twitter">
                            <i class="icon-twitter">&nbsp;</i>
                        </a>
                        {{ end }}


                        {{ with .Site.Params.contact.linkedin }}
                        <a class="list-inline-item" href="{{.}}" rel="noopener" aria-label="linkedin">
                            <i class="tf-ion-social-linkedin">&nbsp;</i>
                        </a>
                        {{ end }}


                        {{ with .Site.Params.contact.dribbble }}
                        <a class="list-inline-item" href="{{.}}" rel="noopener" aria-label="dribbble">
                            <i class="tf-ion-social-dribbble">&nbsp;</i>
                        </a>

                        {{ end }}
                        {{ with .Site.Params.contact.instagram }}
                        <a class="list-inline-item" href="{{.}}" rel="noopener" aria-label="instagram">
                            <i class="icon-instagram">&nbsp;</i>
                        </a>
                        {{ end }}
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <div class="footer-bottom">
       <p>Copyright {{ now.Format "2006"}}. All rights reserved.</p>
       <p>Design and Developed by <a href="{{ .Site.BaseURL }}" target="_blank" title="{{ .Title }}">{{ .Site.Title }}</a></p>
    </div>
</footer>
<!-- end footer -->