<head>
    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ with .OutputFormats.Get "HTML" }}{{ .Permalink }}{{ end }}" />
    {{ partial "meta/data" . | safeHTML }}
    {{ range .AlternativeOutputFormats }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end -}}
    <link rel="stylesheet" href="{{ "/plugins/bootstrap/dist/css/bootstrap.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "/css/main.min.css" | absURL }}">
    <style>
    {{ partial "css/global.css" . | safeCSS }}
    </style>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var lazyImages = [].slice.call(document.querySelectorAll('img.lazy'));
        if ('IntersectionObserver' in window) {
            let lazyImageObserver = new IntersectionObserver(
                function(entries, observer) {
                    entries.forEach(function(entry) {
                        if (entry.isIntersecting) {
                            let lazyImage = entry.target;
                            lazyImage.src = lazyImage.dataset.src;
                            lazyImageObserver.unobserve(lazyImage);
                        }
                    });
                });
            lazyImages.forEach(function(lazyImage) {
                lazyImageObserver.observe(lazyImage);
            });
        } else {
            // For browsers that don't support IntersectionObserver yet,
            // load all the images now:
            lazyImages.forEach(function(lazyImage) {
                lazyImage.src = lazyImage.dataset.src;
            });
        }
    });
    </script>
    {{ template "_internal/google_analytics_async.html" . }}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8751263644994394",
        enable_page_level_ads: true
    });
    </script>
    {{ template "_internal/google_analytics_async.html" . }}
</head>