<!-- Page Title Section Start -->
<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ .Title }}</h1>
                <div class="post-meta mb-3">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>By </span>
                            {{- if isset .Params "author" -}}{{- .Params.author -}}{{- else -}}Admin{{- end -}} 
                        </li>
                        <li class="list-inline-item">
                            <span>at</span>
                            <span>{{ .Date.Format "Jan 2, 2006" }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>