<!DOCTYPE html>
<html lang="{{- $.Page.Params.lang | default "ID" -}}">

<head>
<title>{{ .Title }}</title>
<link rel="canonical" href="{{ with .OutputFormats.Get "HTML" }}{{ .Permalink }}{{ end }}" />
{{ partial "meta/data" . | safeHTML }}


{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}

<link rel="stylesheet" href="/css/blog.min.css">


<style>
a:hover {
    color: #0056b3;
    text-decoration: underline !important;
}
.nav-link {
background-color: #00000017
}
#portfolio {padding-bottom: 0px;}


.blog-single img {
    margin: 30px 0 30px 0 !important;
}

p {
  overflow: hidden
}
</style>


<script>
document.addEventListener('DOMContentLoaded', function() {
  var lazyImages = [].slice.call(document.querySelectorAll('img.lazy'));

  if ('IntersectionObserver' in window) {
    let lazyImageObserver = new IntersectionObserver(
      function(entries, observer) {
        entries.forEach(function(entry) {
          if (entry.isIntersecting) {
            let lazyImage = entry.target;
            lazyImage.src = lazyImage.dataset.src;
            lazyImageObserver.unobserve(lazyImage);
          }
        });
    });

    lazyImages.forEach(function(lazyImage) {
      lazyImageObserver.observe(lazyImage);
    });
  }
  else {
    
    
    lazyImages.forEach(function(lazyImage) {
      lazyImage.src = lazyImage.dataset.src;
    });
  }
});
</script>
{{ template "_internal/google_analytics_async.html" . }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8751263644994394",
          enable_page_level_ads: true
     });
</script>

</head>
<body>

    <div class="blog-masthead">
        <div class="container">
            <nav class="nav blog-nav">
                <a class="nav-link " href="/#nav">← {{.Site.Title}}</a>
            </nav>
        </div>
    </div>

    <header class="blog-header">
        <div class="container">
          <h1 class="blog-post-title" dir="auto"><a href="{{.Permalink}}"><em>"{{.Title}}"</em></a></h1>
        </div>
    </header>
	
    <div class="container mb-5 mt-5 pb-5">
        <div class="row mb-5 pb-5">
           
			
                {{ range (.Paginator 99).Pages }} 
                <!-- Blog Section Start -->
                <div class="col-6 col-md-4 mb-3 mt-3">
                    <div class="card">
                    <div class="card-body">
                        <h2 class="h4" dir="auto"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        <p class="blog-post-meta">
                            <time datetime="{{ .Date.Format " 2006-01-02T15:04:05 " }}">{{ .Date.Format "Jan 2, 2006" }}</time>
                        </p>
                    <p>{{.Summary | truncate 200}}</p>
                </div>
                </div>
                </div>
                <!-- Blog Section Start --> 
                {{ end }} 
				
				        <div class="col-12 text-center">
                {{ template "_internal/pagination.html" . }}
                </div>

                <hr>

            <!-- /.blog-main -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <footer class="blog-footer">
        <p dir="auto">

            Blog template created by <a href="https://www.detektif.net">DETEKTIF MOBILE</a>, Hosted on <a href='/'>Google Cloud Platform</a>,
            <br /> Terms of Service <a href='/disclaimer/'>Disclaimer</a>.
        </p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>

{{ partial "global_var.html" . }}

</body>

</html>