<!DOCTYPE html>
<html class="no-js">

<head>
<title>Jual {{ .Title }}</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">  
<meta itemprop="name" content="{{ .Title }} - {{ .Site.Title }}">
<meta name="description" content="{{ replaceRE "\n" "" (.Description | default .Summary | truncate 155) }}" />
<meta name="news_keywords" content="{{ replaceRE "\n" "" ( .Summary | truncate 55) }}" />
<meta name="original-source" content="{{ .Permalink }}" />
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}


<!-- Open Graph -->
<meta property="og:type" content="article">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}"/>
<meta property="og:image" content="{{ .Params.thumbnail | default "/default.png" | absURL }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="og:description" content="{{ replaceRE "\n" "" (.Description | default .Summary | truncate 155) }}"/>
<meta property="og:locale" content="{{ .Site.LanguageCode | default "id"}}">
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ with .Site.Params.contact.twitter }}{{ . }}{{end}}" />
<meta name="twitter:title" content="{{ .Title }} - {{ .Site.Title }}" />
<meta name="twitter:description" content="{{ replaceRE "\n" "" (.Description | default .Summary | truncate 155) }}" />
<meta name="twitter:image" content="{{ .Params.thumbnail | default "/default.png" | absURL }}" />
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}

{{ "<!-- Favicon -->" | safeHTML }}
<link rel="apple-touch-icon" sizes="152x152" href="{{ "apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | absURL }}">
<link rel="manifest" href="{{ "site.webmanifest" | absURL }}">
<link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | absURL }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{{"<!-- Stylesheets -->" | safeHTML}}
{{ "<!-- fisher Icon font -->" | safeHTML }}
<link rel="stylesheet" href="{{ "plugins/fisher-font/style.min.css" | absURL }}">
{{ "<!-- bootstrap.min css -->" | safeHTML}}
<link rel="stylesheet" href="{{ "plugins/bootstrap/dist/css/bootstrap.min.css" | absURL }}">
{{ "<!-- Lightbox.min css -->" | safeHTML }}
<link rel="stylesheet" href="{{ "plugins/lightbox2/dist/css/lightbox.min.css" | absURL }}">
{{ "<!-- Slick Carousel -->" | safeHTML }}
<link rel="stylesheet" href="{{ "plugins/slick-carousel/slick/slick.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "plugins/slick-carousel/slick/slick-theme.min.css" | absURL }}">
{{ "<!-- Main Stylesheet -->" | safeHTML }}
<link rel="stylesheet" href="{{ "css/style.min.css" | absURL }}">


<style>
#portfolio {padding-bottom: 0px;}


.blog-single img {
    margin: 30px 0 30px 0 !important;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var lazyImages = [].slice.call(document.querySelectorAll('img.lazy'));

  if ('IntersectionObserver' in window) {
    let lazyImageObserver = new IntersectionObserver(
      function(entries, observer) {
        entries.forEach(function(entry) {
          if (entry.isIntersecting) {
            let lazyImage = entry.target;
            lazyImage.src = lazyImage.dataset.src;
            lazyImageObserver.unobserve(lazyImage);
          }
        });
    });

    lazyImages.forEach(function(lazyImage) {
      lazyImageObserver.observe(lazyImage);
    });
  }
  else {
    // For browsers that don't support IntersectionObserver yet,
    // load all the images now:
    lazyImages.forEach(function(lazyImage) {
      lazyImage.src = lazyImage.dataset.src;
    });
  }
});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8751263644994394",
          enable_page_level_ads: true
     });
</script>
</head>


<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','{{ "/js/analytics.js" | absURL }}','ga');
  ga('create', '{{ .Site.Params.google_analystics }}', 'auto');
  
  ga('send', 'pageview');
}
</script>



<body id="body">

{{ partial "navigation.html" . }}

{{ partial "page-title.html" . }}


<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {{ if isset .Params "thumbnail" }}<img src="{{ with .Params.thumbnail }}{{ . | absURL }}{{ end }}" class="w-100 mb-3" alt="{{.Title}}">{{ end }}
                <h2 class="h4">{{ .Description }}</h2>
                <br />
                <br />

                <h4>IDR.<strong>{{ $.Params.regular_price}}</strong></h4><br />

                <hr>

                <div class="btn-main"><a class="text-dark" href="https://api.whatsapp.com/send?phone={{.Site.Params.wa_no}}&text=%2AKode%20Produk%2A%20%20%3A%20{{$.Params.order_id}}%0D%0A%0D%0A%2AHarga%2A%20%3A%20%20Rp.{{$.Params.regular_price}}%0D%0A%0D%0A%2AKeterangan%20Produk%2A%20%3A%20%20{{.Title}}"><strong>Beli Sekarang</strong></a></div><br />
                <hr>

                <span>KODE PRODUK: <strong>{{$.Params.order_id}}</strong></span><br />
                <hr>
               
<span>STATUS SELLER: <strong>{{.Params.status_seller}}</strong></span><br />
                <hr>
<span>STOK BARANG: <strong>{{.Params.stock_barang}}</strong></span><br />
                <hr>
<span>TERJUAL: <strong>{{.Params.selling_produk}}</strong></span><br />
                <hr>
<span>KONDISI: <strong>{{.Params.kondisi_produk}}</strong></span><br />
                <hr>
<span>BERAT BARANG: <strong>{{.Params.berat_barang}}</strong></span><br />
                <hr>
<span>LOKASI BARANG: <strong>{{.Params.lokasi_barang}}</strong></span><br />
                <hr>


                

                <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Detail produk</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Ketentuan Pembelian</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">{{ .Content | safeHTML }}</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">{{ .Site.Data.ketentuan_shop.content | markdownify }}</div>
</div>



<ul id="tags-single">
  Tags:
  {{ range .Params.categories }}
    <li class="badge badge-light"><a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a> </li>
  {{ end }}
</ul>

 <ul id="tags-single">
  Tags:
  {{ range .Params.tags }}
    <li class="badge badge-light"><a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a> </li>
  {{ end }}
</ul>
                


                <br /><hr><br />            
                <div class="sharethis-inline-share-buttons"></div>
                <br /><hr><br />  

                 <nav aria-label="breadcrumb mx-auto" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ .Site.BaseURL }}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{.Site.BaseURL}}{{.Section}}">{{.Section}}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ol>
                </nav>

<!-- Related Product -->





{{ $related := .Site.RegularPages.Related . | first 35 }}
{{ with $related }}
{{ range . }}

<div class="card flex-row flex-wrap">
    <div class="card-header border-0 col-md-4 text-center">
        <img class="lazy img-fluid" src="/placeholder.png" data-src="{{.Params.thumbnail}}" alt="">
    </div>
    <div class="card-block px-2 col-md-8">
        <h4 class="card-title">{{ .Title | truncate 31 }}</h4>
        <p class="card-text">{{ .Summary | truncate 150 }}</p>
        <a href="{{ .RelPermalink }}" class="btn btn-success">Lihat Produk</a>
    </div>
    <div class="w-100"></div>
    <div class="card-footer w-100 text-muted">
      {{ range .Params.categories }}
        <span class="badge badge-success"><a class="text-white" href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a> </span>
      {{end}}
    </div>
</div>
<br />


{{ end }}

{{ end }}



        </div>
    </div>

</section>






{{ partial "footer.html" . }}

<script src="//platform-api.sharethis.com/js/sharethis.js#property=5b8315f786d36a0011c14acb&product=inline-share-buttons"></script>

{{ partial "meta/schema/ProductDetails.json" . }}




</body>

</html>