<!DOCTYPE html>
<html lang="{{- $.Page.Params.lang | default "ID" -}}">

<head>
<title>{{ .Title }}</title>
<link rel="canonical" href="{{ with .OutputFormats.Get "HTML" }}{{ .Permalink }}{{ end }}" />
{{ partial "meta/data" . }}

{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}


<!-- Favicon -->
<link rel="apple-touch-icon" sizes="152x152" href="{{ "apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | absURL }}">
<link rel="manifest" href="{{ "site.webmanifest" | absURL }}">
<link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | absURL }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Stylesheets -->
<link rel="stylesheet" href="/css/shop.css">

<link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

<style>
{{ replaceRE " +" " " (replaceRE "\n" "" (partial "custom-global.css" .)) | safeCSS }}


.single-page-header {
    background: #1f2532;
    padding: 85px 0;
    text-align: center;
    color: #fff;
    position: relative
}

.single-page-header .breadcrumb {
    background: 0 0;
    display: inline-block
}

.single-page-header .breadcrumb li a {
    color: #159957
}

#portfolio {padding-bottom: 0px;}

.blog-single img {
    margin: 30px 0 30px 0 !important;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var lazyImages = [].slice.call(document.querySelectorAll('img.lazy'));

  if ('IntersectionObserver' in window) {
    let lazyImageObserver = new IntersectionObserver(
      function(entries, observer) {
        entries.forEach(function(entry) {
          if (entry.isIntersecting) {
            let lazyImage = entry.target;
            lazyImage.src = lazyImage.dataset.src;
            lazyImageObserver.unobserve(lazyImage);
          }
        });
    });

    lazyImages.forEach(function(lazyImage) {
      lazyImageObserver.observe(lazyImage);
    });
  }
  else {
    // For browsers that don't support IntersectionObserver yet,
    // load all the images now:
    lazyImages.forEach(function(lazyImage) {
      lazyImage.src = lazyImage.dataset.src;
    });
  }
});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8751263644994394",
          enable_page_level_ads: true
     });
</script>
</head>



<body id="body">

{{ partial "navigation.html" . }}

{{ partial "page-title.html" . }}


<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {{ if isset .Params "thumbnail" }}<img src="{{ with .Params.thumbnail }}{{ . | absURL }}{{ end }}" class="w-100 mb-3" alt="{{.Title}}">{{ end }}
                <h2 class="h4">{{ .Description }}</h2>
                <br />
                <br />

                <h4>IDR.<strong>{{ $.Params.regular_price}}</strong></h4><br />

                <hr>

                <div class="btn-main"><a class="text-dark" href="https://api.whatsapp.com/send?phone={{.Site.Params.wa_no}}&text=%2AKode%20Produk%2A%20%20%3A%20{{$.Params.order_id}}%0D%0A%0D%0A%2AHarga%2A%20%3A%20%20Rp.{{$.Params.regular_price}}%0D%0A%0D%0A%2AKeterangan%20Produk%2A%20%3A%20%20{{.Title}}"><strong>Beli Sekarang</strong></a></div><br />
                <hr>

                <span>KODE PRODUK: <strong>{{$.Params.order_id}}</strong></span><br />
                <hr>
               
<span>STATUS SELLER: <strong>{{.Params.status_seller}}</strong></span><br />
                <hr>
<span>STOK BARANG: <strong>{{.Params.stock_barang}}</strong></span><br />
                <hr>
<span>TERJUAL: <strong>{{.Params.selling_produk}}</strong></span><br />
                <hr>
<span>KONDISI: <strong>{{.Params.kondisi_produk}}</strong></span><br />
                <hr>
<span>BERAT BARANG: <strong>{{.Params.berat_barang}}</strong></span><br />
                <hr>
<span>LOKASI BARANG: <strong>{{.Params.lokasi_barang}}</strong></span><br />
                <hr>


                

                <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Detail produk</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Ketentuan Pembelian</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">{{ .Content | safeHTML }}</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">{{ .Site.Data.ketentuan_shop.content | markdownify }}</div>
</div>



<ul id="tags-single">
  Tags:
  {{ range .Params.categories }}
    <li class="badge badge-light"><a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a> </li>
  {{ end }}
</ul>

 <ul id="tags-single">
  Tags:
  {{ range .Params.tags }}
    <li class="badge badge-light"><a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a> </li>
  {{ end }}
</ul>
                


                <br /><hr><br />            
                <div class="sharethis-inline-share-buttons"></div>
                <br /><hr><br />  

                 <nav aria-label="breadcrumb mx-auto" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ .Site.BaseURL }}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{.Site.BaseURL}}{{.Section}}">{{.Section}}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ol>
                </nav>

<!-- Related Product -->





{{ $related := .Site.RegularPages.Related . | first 35 }}
{{ with $related }}
{{ range . }}

<div class="card flex-row flex-wrap">
    <div class="card-header border-0 col-md-4 text-center">
        <img class="lazy img-fluid" src="/placeholder.png" data-src="{{.Params.thumbnail}}" alt="">
    </div>
    <div class="card-block px-2 col-md-8">
        <h4 class="card-title">{{ .Title | truncate 31 }}</h4>
        <p class="card-text">{{ .Summary | truncate 150 }}</p>
        <a href="{{ .RelPermalink }}" class="btn btn-success mb-3">Lihat Produk</a>
    </div>
    <div class="w-100"></div>
    <div class="card-footer w-100 text-muted">
      {{ range .Params.categories }}
        <span class="badge badge-success">
          <a class="text-white" href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a> 
        </span>
      {{end}}
    </div>
</div>
<br />


{{ end }}

{{ end }}



        </div>
    </div>

</section>






{{ partial "footer.html" . }}

<script src="//platform-api.sharethis.com/js/sharethis.js#property=5b8315f786d36a0011c14acb&product=inline-share-buttons"></script>

{{ partial "meta/schema/ProductDetails.json" . }}

{{ partial "js.html" . }}

{{ partial "global_var.html" . }}

</body>

</html>